/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2014, 11:17:03 AM
    Author     : Kyle
*/

.root {
    -fx-font-size: 2em;


    -fx-background: #6e8299; /* Old browsers */
    -fx-background: -moz-linear-gradient(top,  #6e8299 0%, #96c0d3 27%, #b7cace 60%); /* FF3.6+ */
    -fx-background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e8299), color-stop(27%,#96c0d3), color-stop(60%,#b7cace)); /* Chrome,Safari4+ */
    -fx-background: -webkit-linear-gradient(top,  #6e8299 0%,#96c0d3 27%,#b7cace 60%); /* Chrome10+,Safari5.1+ */
    -fx-background: -o-linear-gradient(top,  #6e8299 0%,#96c0d3 27%,#b7cace 60%); /* Opera 11.10+ */
    -fx-background: -ms-linear-gradient(top,  #6e8299 0%,#96c0d3 27%,#b7cace 60%); /* IE10+ */
    -fx-background: linear-gradient(to bottom,  #6e8299 0%,#96c0d3 27%,#b7cace 60%); /* W3C */
    -fx-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e8299', endColorstr='#b7cace',GradientType=0 ); /* IE6-9 */
}
.button {
    -fx-font-family: "Ariel";
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-background: grey;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-padding: 10px;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
}